## ATP Men Tennis Ranks Webscrape With Selenium

In [1]:
# Imports
# Reference: https://www.youtube.com/watch?v=lTypMlVBFM4

from selenium import webdriver
import pandas as pd
from datetime import date

In [2]:
atp_url = "https://www.atptour.com/en/rankings/singles"

In [9]:
driver = webdriver.Chrome("C:\Program Files (x86)\chromedriver.exe")
driver.get(atp_url)

In [10]:
players = driver.find_element_by_css_selector('table.mega-table')

In [11]:
# Obtain table rows, remove header too:

rows = players.find_elements_by_css_selector('tr')
rows = rows[1:]

In [12]:
# Check first row:

rows[0].text.replace('\n', ' ')

'1 Novak Djokovic 34 8,875 13 500 0'

In [13]:
rows[0].text.replace('\n', ' ').split()

['1', 'Novak', 'Djokovic', '34', '8,875', '13', '500', '0']

In [14]:
rows[0].find_element_by_class_name('player-cell').text

'Novak Djokovic'

In [15]:
# Find country, it is class country-item, img tag and alt

rows[0].find_element_by_class_name('country-item').find_element_by_css_selector('img').get_attribute('alt')

'SRB'

## Extract Data

In [16]:
# Player rank:

ranks = [row.find_element_by_class_name('rank-cell').text for row in rows]

In [17]:
# Country:
countries = [row.find_element_by_class_name('country-item').find_element_by_css_selector('img').get_attribute('alt') 
             for row in rows]

In [18]:
# Player Name:
players = [row.find_element_by_class_name('player-cell').text for row in rows]

In [19]:
# Age
age = [row.find_element_by_class_name('age-cell').text for row in rows]

In [20]:
# Points:
atp_points = [row.find_element_by_class_name('points-cell').text for row in rows]

In [21]:
# Tournaments Played:
atp_played = [row.find_element_by_class_name('tourn-cell').text for row in rows]

In [22]:
# Points Dropping:
pts_drop = [row.find_element_by_class_name('pts-cell').text for row in rows]

In [23]:
# Next-Cell:
next_best = [row.find_element_by_class_name('next-cell').text for row in rows]

## Create Dataframe

In [24]:
## Dataframe Creation of Raw Data:
atp_tennis_df = pd.DataFrame({'Rank': ranks, 
                              'Country': countries, 
                              'Players': players,
                              'Age': age,
                              'ATP Points': atp_points,
                              'Tournaments Played': atp_played,
                              'Points Dropping': pts_drop,
                              'Next Best': next_best})

In [25]:
atp_tennis_df.head(12)

,Rank,Country,Players,Age,ATP Points,Tournaments Played,Points Dropping,Next Best
0,1,SRB,Novak Djokovic,34,"8,875",13,500,0
1,2,RUS,Daniil Medvedev,26,"8,435",23,0,0
2,3,GER,Alexander Zverev,24,"7,515",24,0,0
3,4,GRE,Stefanos Tsitsipas,23,"6,565",28,300,60
4,5,ESP,Rafael Nadal,35,"6,515",11,500,0
5,6,ITA,Matteo Berrettini,25,"4,928",21,0,0
6,7,RUS,Andrey Rublev,24,"4,590",28,0,0
7,8,NOR,Casper Ruud,23,"3,975",32,150,90
8,9,CAN,Felix Auger-Aliassime,21,"3,883",26,0,0
9,10,ITA,Jannik Sinner,20,"3,429",39,0,0
10,11,POL,Hubert Hurkacz,25,"3,333",29,0,0
11,12,GBR,Cameron Norrie,26,"3,070",29,0,0

In [26]:
## Save to excel file
atp_tennis_df.to_excel('atp_tennis_ranks' + str(date.today()) + '.xlsx', index = False)

In [27]:
## Save to .csv file
atp_tennis_df.to_csv('atp_tennis_ranks' + str(date.today()) + '.csv', index = False)